body {
  background: url(/uploads/62.png);   // 圖片路徑
  background-repeat: no-repeat; // 不重複
  background-attachment:fixed;  // 固定背景
  background-size: cover; // 將背景圖片放大至容器大小
  background-position:50% 50%;  // 背景位置置中
}

.main-inner {
      // background: #fff;
      opacity: 0.95;
}

.archive  .collection-title { display : none !important ; }
